.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-skill-container {
  width: 50%;
  height: 600px;
  padding: 15px;
  background: rgba(17, 17, 59, 0.678);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.my-skill-container h1 {
  font-size: 3rem;
  margin: 0;
  margin-left: 10px;
  align-self: flex-start;
}

.my-skill-container p {
  margin: 10px;
  font-size: 1.2rem;
}

.logo-skills {
  width: 60%;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 25px;
  row-gap: 25px;
  justify-self: center;
  align-self: center;
}

.skill-logo {
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
}

.skill-logo:hover {
  color: rgb(255, 255, 30);
}

.img-container img {
  width: 150%;
}

@media (max-width: 990px) {
  .skills-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .my-skill-container {
    width: 90%;
  }
}

@media (max-width: 610px) {
  .skills-container {
    margin-bottom: 100px;
  }
  .my-skill-container {
    height: 900px;
  }
  .img-container img {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .my-skill-container {
    margin: 40px auto;
    height: 900px;
  }

  .my-skill-container h1 {
    font-size: 2rem;
    margin-top: 55px;
  }

  .logo-skills {
    margin-left: 20px;
    padding-top: 20px;
    width: 100%;
    justify-items: center;
  }

  .skill-logo {
    font-size: 1.5rem;
  }
}
