.contact-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container-inner {
  width: 40%;
  background: rgba(17, 17, 59, 0.678);
  border-radius: 15px;
  padding: 15px;
}

input,
textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(133, 133, 133);
  background-color: rgba(243, 243, 243, 0.856);
  color: black;
  font-size: 1rem;
  font-weight: normal;
  outline: none;
  width: 100%;
  margin-top: 25px;
}

textarea {
  height: 100%;
  resize: none;
  margin-bottom: 25px;
}

button {
  background-color: transparent;
}

.btn-contact {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .contact-container-inner {
    width: 100%;
  }
}

@media (max-width: 411px) {
  .contact-container {
    margin-bottom: 80px;
  }
}
