@import "/styles/parts/header.css";
@import "/styles/parts/particles.css";
@import "/styles/parts/home.css";
@import "/styles/parts/btn.css";
@import "/styles/parts/about.css";
@import "/styles/parts/skills.css";
@import "/styles/parts/work.css";
@import "/styles/parts/contact.css";
@import "/styles/parts/success.css";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(17, 17, 59);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}
